@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


$primary-color: #FEE996;
$secondary-color: #444;
$danger-color: rgb(219, 46, 46);
$pink-color: #ff0099;
$green-color: #11998e;
$yellow-color: rgb(231, 225, 39);

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


body {
    font-family: 'Quicksand', sans-serif;
    color: $secondary-color;
}

a {
    color: $secondary-color;
    text-decoration: none;
}

h1 {
    margin: 20px;
}

h2 {
    margin: 20px;
}


button {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    display: block;
    padding: 10px;
    letter-spacing: 2px;
    border-radius: 36px;
    margin: 5px;

    @media (min-width:450px) {
        font-size: 16px;
        padding: 10px 20px;
    }


    &:focus {
        outline: none;
    }
}

.error-message {
    color: $pink-color;
    font-weight: bold;
}

.success-message {
    color: greenyellow;
    font-weight: bold;
}

.button-primary {
    background: $primary-color;
    border: 3px solid $primary-color;
}

.button-secondary {
    background: white;
    border: 3px solid $primary-color;
}

.button-danger {
    border: 3px solid $danger-color;
    background-color: rgb(228, 82, 82);
    color: white;
}

.button-disabled {
    cursor: default;
    color: gray;
    background: rgb(236, 236, 236);
    border: 3px solid rgb(236, 236, 236);
}

.star {
    color: $pink-color;
}