.board {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    border: 3px solid $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .tile {
        cursor: pointer;
        box-shadow: 0 0 3px 2px gray;
        width: 200px;
        margin: 10px;
        text-align: center;
    }
}