.page-dashboard {

    .dashboard__myData {
        margin-top: 20px;
        background-color: rgb(212, 212, 212);
        padding: 10px;
        border-radius: 15px;

        h2 {
            font-size: 18px;

            @media (min-width: 400px) {
                font-size: 20px;
            }

            @media (min-width: 500px) {
                font-size: 24px;
            }
        }

        .buttons {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    .dashboard__books {
        .books {
            margin-left: 20px;
            padding-bottom: 20px;
            min-width: 300px;
            min-height: 300px;
        }

        .colors {
            display: flex;
            flex-direction: column;

            @media (min-width:800px) {
                flex-direction: row;
            }

            .color {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px 0;

                h3 {
                    margin: 0 20px;
                }

                div {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }

            .today {
                div {
                    background-color: $green-color
                }
            }

            .dedline {
                div {
                    background-color: $danger-color
                }
            }

            .fewDays {
                div {
                    background-color: $yellow-color
                }
            }

        }

        .zero-books {
            button {
                margin: 20px;
            }
        }

        .book {
            max-width: 600px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 10px;
            border: 2px solid gray;
            border-bottom: 8px solid $yellow-color;
            border-radius: 10px;
            margin: 10px;
            font-weight: bold;

            a {
                cursor: pointer;
                color: $danger-color;
            }

            .name {
                display: none;

                @media (min-width:650px) {
                    display: block;
                    max-width: 40%;
                    word-break: break-word;
                    text-align: center;
                }
            }
        }
    }
}