.page-home {

    @media (min-width: 1100px) {
        margin-top: 100px;

        h1 {
            font-size: 55px;
        }

        h2 {
            font-size: 40px;
        }
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media (min-width: 1100px) {
            flex-direction: row;
        }
    }

    img {
        margin-top: 25px;
        width: 100%;
        max-width: 650px;
        padding: 0 10px;
    }

    button {
        margin: 0 auto;
        font-size: 16px;
        padding: 15px;

        @media (min-width: 800px) {
            padding: 20px;
            margin: 0 20px;
            font-size: 18px;
        }
    }
}