nav {
    border-bottom: 2px solid $secondary-color;

    .logo {
        margin: 0 20px;
        font-size: 20px;

        i {
            margin-right: 10px;
        }

        @media (min-width: 400px) {
            font-size: 24px;
        }

        @media (min-width: 550px) {
            font-size: 28px;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        padding: 20px 0;
    }

    .auth-options {
        margin: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media (min-width: 550px) {
            flex-direction: row;
        }
    }

    .user {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 45px;
        padding: 0 20px;
        border-radius: 36px;
        background: $primary-color;
        border: 3px solid $primary-color;

        p {
            font-weight: bold;
            font-size: 16px;

            @media(min-width: 400px) {
                font-size: 18px;
            }

            @media(min-width: 450px) {
                font-size: 20px;
            }
        }

        i {
            margin-right: 5px;
        }

        @media(min-width: 550px) {
            margin-right: 10px;
        }
    }
}