* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #2199df;
    text-decoration: none;
}


ul {
    margin-left: 1.5rem;
    list-style: none;
}

button,
input[type="submit"] {
    border: none;
    background: none;
    color: unset;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 1em 0;
}